@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensans.woff2") format("woff2"), url("../../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensansbold.woff2") format("woff2"), url("../../fonts/opensansbold.woff") format("woff");
  font-weight: bold; }

.page {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  line-height: 24px; }

.page-header {
  position: relative;
  padding-top: 80px;
  background: url("./../../img/hero-mobile@1x.jpg") no-repeat 50% 80px; }
  .page-header--no-bg {
    background: #f1f1f1; }

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 50%;
  z-index: 3;
  margin-left: -45px; }

.page-header__title {
  display: block;
  padding: 86px 20px 110px 20px;
  font-size: 27px;
  line-height: 30px;
  text-align: center; }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: right;
  background-color: white; }
  .main-nav--hidden {
    height: 81px;
    overflow: hidden; }

.main-nav__toggle-btn {
  display: inline-block;
  vertical-align: top;
  margin: 29px 30px 29px;
  width: 22px;
  height: 22px;
  border: none;
  background: transparent url("../../img/icon-menu-open.svg") no-repeat 50% 50%;
  cursor: pointer; }
  .main-nav__toggle-btn--open {
    background-image: url("../../img/icon-menu-close.svg"); }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #ececec; }

.main-nav__link {
  position: relative;
  display: block;
  padding: 28px 0 28px 75px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border-top: 1px solid #ececec;
  color: #000;
  cursor: pointer; }
  .main-nav__link:hover, .main-nav__link:focus {
    color: #666666; }
  .main-nav__link:active {
    color: #b2b2b2; }
  .main-nav__link--basket {
    background-color: white; }
    .main-nav__link--basket::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 30px;
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -10px; }
    .main-nav__link--basket::after {
      background-color: rgba(178, 178, 178, 0.5);
      -webkit-mask: url("./../../img/icon-cart.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-cart.svg") no-repeat 50% 50%; }
    .main-nav__link--basket:hover::after, .main-nav__link--basket:focus::after {
      background-color: rgba(99, 209, 187, 0.7); }
    .main-nav__link--basket:active::after {
      background-color: rgba(99, 209, 187, 0.3); }
  .main-nav__link--search {
    background-color: white; }
    .main-nav__link--search::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 30px;
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -10px; }
    .main-nav__link--search::after {
      background-color: rgba(178, 178, 178, 0.5);
      -webkit-mask: url("./../../img/icon-search.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-search.svg") no-repeat 50% 50%; }
    .main-nav__link--search:hover::after, .main-nav__link--search:focus::after {
      background-color: rgba(99, 209, 187, 0.7); }
    .main-nav__link--search:active::after {
      background-color: rgba(99, 209, 187, 0.3); }

.product-nav__link {
  position: relative;
  display: block;
  max-height: 45px;
  padding: 30px;
  overflow: hidden; }
  .product-nav__link--interior {
    background-color: #63d1bb; }
    .product-nav__link--interior::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 30px;
      display: block;
      width: 70px;
      height: 70px;
      margin-top: -35px; }
    .product-nav__link--interior::after {
      background-color: rgba(20, 144, 128, 0.5);
      -webkit-mask: url("./../../img/icon-interior.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-interior.svg") no-repeat 50% 50%; }
    .product-nav__link--interior:hover::after, .product-nav__link--interior:focus::after {
      background-color: rgba(20, 144, 128, 0.7); }
    .product-nav__link--interior:active::after {
      background-color: rgba(20, 144, 128, 0.3); }
  .product-nav__link--toy {
    background-color: #56c3b2; }
    .product-nav__link--toy::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 30px;
      display: block;
      width: 70px;
      height: 70px;
      margin-top: -35px; }
    .product-nav__link--toy::after {
      background-color: rgba(20, 144, 128, 0.5);
      -webkit-mask: url("./../../img/icon-toy.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-toy.svg") no-repeat 50% 50%; }
    .product-nav__link--toy:hover::after, .product-nav__link--toy:focus::after {
      background-color: rgba(20, 144, 128, 0.7); }
    .product-nav__link--toy:active::after {
      background-color: rgba(20, 144, 128, 0.3); }
  .product-nav__link:hover, .product-nav__link:focus {
    padding-bottom: 35px; }
  .product-nav__link:active * {
    opacity: 0.3; }

.product-nav__link-text {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  color: #fff;
  font-size: 19px;
  font-weight: bold; }

.product {
  max-width: 254px;
  margin: 0 auto;
  padding: 0 30px 35px 30px; }

.product__title {
  max-width: 200px;
  margin: 30px auto 10px auto;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold; }
  .product__title--top {
    max-width: 100%;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal; }

.product__meta {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb; }

.product__preview {
  display: block;
  margin: 0 auto; }

.product__cost-wrapper {
  margin: 29px 0;
  font-size: 17px;
  font-weight: bold;
  text-align: center; }
  .product__cost-wrapper--wide {
    position: relative;
    max-width: 200px;
    margin: 0 auto 30px auto;
    text-align: left;
    background-color: transparent; }
    .product__cost-wrapper--wide::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0px;
      display: block;
      width: 20px;
      height: 20px;
      margin-top: -10px; }
    .product__cost-wrapper--wide::after {
      background-color: rgba(20, 144, 128, 0.5);
      -webkit-mask: url("./../../img/icon-cart.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-cart.svg") no-repeat 50% 50%; }
    .product__cost-wrapper--wide:hover::after, .product__cost-wrapper--wide:focus::after {
      background-color: rgba(20, 144, 128, 0.7); }
    .product__cost-wrapper--wide:active::after {
      background-color: rgba(20, 144, 128, 0.3); }

.product__features {
  max-width: 200px;
  margin: 0 auto 30px auto; }
  .product__features--full-width {
    max-width: 100%; }

.product__link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  border: 1px solid transparent; }
  .product__link:hover, .product__linkfocus {
    border-color: #ececec;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .product__link:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.features:after {
  content: "";
  display: table;
  clear: both; }

.features__term--table {
  display: block;
  float: left;
  width: 35%;
  margin: 0;
  padding: 0; }
  .features__term--table:after {
    content: ":";
    display: inline-block; }

.features__value--table {
  display: block;
  float: left;
  width: 65%;
  margin: 0;
  padding: 0; }

.features__term--inline {
  display: inline-block;
  float: left;
  width: auto;
  margin-right: 5px; }
  .features__term--inline:not(:first-of-type):before {
    content: ",";
    display: inline-block; }
  .features__term--inline:not(:first-of-type):before {
    margin-right: 5px; }

.features__value--inline {
  display: inline-block;
  float: left;
  width: auto;
  margin: 0;
  padding: 0; }

.btn {
  display: block;
  width: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn:hover, .btn:focus {
    background-color: #444444;
    color: #fff; }
  .btn:active {
    color: rgba(255, 255, 255, 0.4); }
  .btn--green {
    background-color: #63d1bb;
    border-color: #63d1bb;
    color: #fff; }
    .btn--green:hover, .btn--green:focus {
      background-color: rgba(99, 209, 187, 0.8); }

.company-features {
  padding: 0 30px 35px 30px; }

.company-features__title {
  font-size: 25px;
  line-height: 30px; }

.company-features__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.company-features__item {
  position: relative;
  padding-top: 85px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold; }
  .company-features__item:before {
    position: absolute;
    display: block;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -40px;
    content: '';
    background-color: #63d1bb; }
  .company-features__item--eco:before {
    -webkit-mask: url("./../../img/icon-feature-1.svg") no-repeat 50% 10px;
            mask: url("./../../img/icon-feature-1.svg") no-repeat 50% 10px; }
  .company-features__item--price:before {
    -webkit-mask: url("./../../img/icon-feature-2.svg") no-repeat 50% 10px;
            mask: url("./../../img/icon-feature-2.svg") no-repeat 50% 10px; }
  .company-features__item--popular:before {
    -webkit-mask: url("./../../img/icon-feature-3.svg") no-repeat 50% 10px;
            mask: url("./../../img/icon-feature-3.svg") no-repeat 50% 10px; }
  .company-features__item--with-love:before {
    -webkit-mask: url("./../../img/icon-feature-4.svg") no-repeat 50% 10px;
            mask: url("./../../img/icon-feature-4.svg") no-repeat 50% 10px; }
  .company-features__item--rus:before {
    -webkit-mask: url("./../../img/icon-feature-5.svg") no-repeat 50% 10px;
            mask: url("./../../img/icon-feature-5.svg") no-repeat 50% 10px; }
  .company-features__item--packaging:before {
    -webkit-mask: url("./../../img/icon-feature-6.svg") no-repeat 50% 10px;
            mask: url("./../../img/icon-feature-6.svg") no-repeat 50% 10px; }

.author__name {
  margin-bottom: 10px;
  font-weight: bold; }

.author__username {
  margin-top: 10px; }

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-align: center; }

.pagination__item {
  display: inline-block; }

.pagination__link {
  display: block;
  margin-bottom: 50px;
  background: transparent;
  border: none;
  font-size: 0; }
  .pagination__link::after {
    content: '';
    display: block;
    width: 50px;
    height: 30px;
    background: black; }
  .pagination__link:hover::after, .pagination__link:focus::after {
    background: #666666; }
  .pagination__link:active::after {
    background: #b2b2b2; }
  .pagination__link--prev {
    margin-right: 80px; }
    .pagination__link--prev::after {
      -webkit-mask: url("./../../img/icon-left-arrow.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-left-arrow.svg") no-repeat 50% 50%; }
  .pagination__link--next::after {
    -webkit-mask: url("./../../img/icon-right-arrow.svg") no-repeat 50% 50%;
            mask: url("./../../img/icon-right-arrow.svg") no-repeat 50% 50%; }

.reviews {
  padding: 0 30px 35px 30px; }

.reviews__title {
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold; }

.review__text {
  margin-bottom: 35px;
  line-height: 30px; }

.reviews__add-btn {
  margin-bottom: 50px; }

.map {
  height: 460px;
  background: url("./../../img/map-mobile@1x.jpg"); }

.contacts__title {
  margin: 0 30px 35px 30px;
  font-size: 18px;
  line-height: 30px; }

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 30px; }

.contacts__item {
  margin-bottom: 30px;
  display: block; }
  .contacts__item:after {
    content: "";
    display: table;
    clear: both; }

.contacts__item-title {
  display: block;
  float: left;
  margin-right: 30px; }

.contacts__value {
  display: block;
  margin-left: 80px; }

.contacts__link {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #62d1ba;
  color: #000;
  text-decoration: none; }
  .contacts__link:hover, .contacts__link:focus {
    color: #62d1ba; }
  .contacts__link:active {
    opacity: 0.3; }

.contacts__feedback-btn {
  width: auto;
  margin: 30px; }

.page-footer {
  padding: 30px;
  background-color: #f1f1f1;
  text-align: center; }

.page-footer__copyright {
  margin-top: 45px; }

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0; }

.social-links__item {
  display: inline-block;
  vertical-align: top; }

.social-links__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px; }
  .social-links__link--inst {
    margin-right: 20px;
    background-color: transparent; }
    .social-links__link--inst::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 30px;
      height: 30px;
      margin-top: -15px; }
    .social-links__link--inst::after {
      background-color: #000;
      -webkit-mask: url("./../../img/icon-insta.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-insta.svg") no-repeat 50% 50%; }
    .social-links__link--inst:hover::after, .social-links__link--inst:focus::after {
      background-color: #46c1ae; }
    .social-links__link--inst:active::after {
      background-color: rgba(70, 193, 174, 0.3); }
  .social-links__link--fb {
    margin-right: 20px;
    background-color: transparent; }
    .social-links__link--fb::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 30px;
      height: 30px;
      margin-top: -15px; }
    .social-links__link--fb::after {
      background-color: #000;
      -webkit-mask: url("./../../img/icon-fb.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-fb.svg") no-repeat 50% 50%; }
    .social-links__link--fb:hover::after, .social-links__link--fb:focus::after {
      background-color: #46c1ae; }
    .social-links__link--fb:active::after {
      background-color: rgba(70, 193, 174, 0.3); }
  .social-links__link--tw {
    background-color: transparent; }
    .social-links__link--tw::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 30px;
      height: 30px;
      margin-top: -15px; }
    .social-links__link--tw::after {
      background-color: #000;
      -webkit-mask: url("./../../img/icon-twitter.svg") no-repeat 50% 50%;
              mask: url("./../../img/icon-twitter.svg") no-repeat 50% 50%; }
    .social-links__link--tw:hover::after, .social-links__link--tw:focus::after {
      background-color: #46c1ae; }
    .social-links__link--tw:active::after {
      background-color: rgba(70, 193, 174, 0.3); }

.copyright__text {
  margin-right: 30px;
  vertical-align: middle;
  font-size: 19px;
  font-weight: bold;
  color: #000;
  cursor: pointer; }
  .copyright__text:hover, .copyright__text:focus {
    color: #666666; }
  .copyright__text:active {
    color: #b2b2b2; }

.copyright__link {
  display: inline-block;
  vertical-align: middle; }

.copyright__img {
  display: block; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9); }

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
  z-index: 10; }

.size-form {
  padding: 30px;
  text-align: center;
  background-color: white;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px #c6c6c6; }

.size-form__title {
  max-width: 150px;
  margin: 0 auto 30px auto;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold; }

.size-form__text {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px; }

.size-form__field {
  display: none; }

.size-form__label {
  display: inline-block; }

.size-form__field-name {
  display: block;
  width: 80px;
  height: 52px;
  box-sizing: border-box;
  border: 2px solid #ececec;
  font-size: 17px;
  line-height: 52px;
  font-weight: bold; }

.size-form__field:checked ~ .size-form__field-name {
  border-color: #63d1bb; }

.size-form__add-btn {
  margin-top: 30px; }

.products {
  padding: 30px 0; }

.video-review {
  padding: 30px; }

.video-review__title {
  max-width: 150px;
  margin: 0 auto;
  display: block;
  position: relative;
  max-height: 200px;
  padding: 30px 30px 20px 90px;
  font-size: 17px;
  line-height: 24px;
  background-color: transparent; }
  .video-review__title::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    width: 45px;
    height: 40px;
    margin-top: -20px; }
  .video-review__title::after {
    background-color: rgba(178, 178, 178, 0.5);
    -webkit-mask: url("./../../img/icon-video.svg") no-repeat 50% 50%;
            mask: url("./../../img/icon-video.svg") no-repeat 50% 50%; }
  .video-review__title:hover::after, .video-review__title:focus::after {
    background-color: rgba(99, 209, 187, 0.7); }
  .video-review__title:active::after {
    background-color: rgba(99, 209, 187, 0.3); }

.video-review__text {
  padding: 30px; }

.video-review__btn {
  margin-bottom: 60px; }

.video-review__video {
  display: block;
  margin: 0 auto; }

.order-form {
  padding: 30px; }

.order-form__text {
  font-size: 13px; }
  .order-form__text--comment {
    margin: 0; }

.order-form__fieldset {
  border: none;
  border-top: 1px solid #62d1ba;
  padding: 10px 0 10px 0; }
  .order-form__fieldset--hide {
    border-top: none; }

.order-form__legend {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  color: #62d1ba;
  font-size: 17px;
  text-transform: uppercase; }
  .order-form__legend--label:after {
    position: relative;
    top: -12px;
    display: block;
    margin-left: 20px;
    -ms-flex: 1;
        flex: 1;
    content: '';
    border-bottom: 1px solid #62d1ba; }

.order-form__label {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: bold; }
  .order-form__label:before {
    content: '';
    display: none;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0;
    top: 50%;
    margin-top: -20px;
    border: 2px solid black; }
  .order-form__label::after {
    content: '';
    display: none;
    position: absolute; }
  .order-form__label:hover::before, .order-form__label:focus::before {
    border-color: #62d1ba; }
  .order-form__label:active::before {
    border-color: #c7c7c7; }
  .order-form__label--radio {
    min-height: 40px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 50px; }
    .order-form__label--radio::before {
      display: block;
      border-radius: 50%; }
    .order-form__label--radio::after {
      width: 16px;
      height: 16px;
      left: 12px;
      top: 50%;
      margin-top: -8px;
      border-radius: 50%;
      background-color: #62d1ba; }
  .order-form__label--checkbox {
    min-height: 40px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 50px; }
    .order-form__label--checkbox:before {
      display: block; }
    .order-form__label--checkbox:after {
      top: 17px;
      left: 7px;
      width: 25px;
      height: 25px;
      background: url("./../../img/icon-tick.svg") no-repeat 0 0;
      background-size: 25px 25px; }

.order-form__input:checked + .order-form__label::after {
  display: block; }

.order-form__input {
  display: none; }

.order-form__field {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 17px; }
  .order-form__field:focus {
    border-bottom: 2px solid #62d1ba; }

.order-form__field-wrapper {
  position: relative; }
  .order-form__field-wrapper:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 15px;
    right: 20px;
    width: 30px;
    height: 30px; }
  .order-form__field-wrapper--email:after {
    background: url("./../../img/icon-mail.svg") no-repeat 50% 50%; }
  .order-form__field-wrapper--tel:after {
    background: url("./../../img/icon-phone.svg") no-repeat 50% 50%; }

.order-form__textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #000;
  outline: none;
  font-size: 17px; }

.order-form__order-btn {
  margin-top: 25px;
  margin-bottom: 50px; }
